.category-card{

    background:#fff;

    border-radius:18px;

    padding:35px;

    text-align:center;

    transition:.4s;

    box-shadow:0 10px 25px rgba(0,0,0,.08);

    height:100%;

}

.category-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 40px rgba(0,0,0,.15);

}

.icon{

    width:80px;

    height:80px;

    border-radius:50%;

    background:#eef4ff;

    display:flex;

    align-items:center;

    justify-content:center;

    margin:auto;

}

.icon i{

    font-size:35px;

}

.category-card h5{

    font-weight:600;

}

.btn{

    border-radius:8px;

}
